.Editor {
    font-family: 'Crimson Text', sans-serif;
}

.DraftEditor-editorContainer {
    margin-top: 20px;
}

.Editor h1,
.Editor h2,
.Editor h3,
.Editor h4,
.Editor h5,
.Editor h6,
.Editor .titleInput {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #3c3c3c;
}

.Editor .titleInput {
    font-size: 2.5em;
    border: none;
    outline: 0;
    margin: .37em 0;
}

.Editor .titleInput:focus {
    outline: 0;
}

.Editor .public-DraftStyleDefault-pre {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Roboto Mono', monospace;
    background-color: #f7f7f7;
    padding: 10px 15px;
}

.Editor .paragraph {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 21px;
}

.Editor blockquote {
    font-style: italic;
    border-left: 10px solid #f7f7f7;
    padding-left: 1em;
    margin: 0;
}

.Editor blockquote .paragraph {
    margin: 0;
}

.Editor .public-DraftStyleDefault-pre pre {
    margin: 0;
}

.Editor .tools {
    background-color: #3C3C3C;
    color: white;
    padding: 0px 20px;
    border-radius: 5px;
    display: flex;
    flex: 1;
}

.styleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 0 10px;
    height: 40px;
    width: 40px;
    font-family: 'Lato';
}

.styleButton:hover {
    background-color: rgba(255,255,255,.1);
    cursor: pointer;
}

.styleButton.active {
    color: #00dcff;
    border-left: 1px solid rgba(255,255,255,.1);
    border-right: 1px solid rgba(255,255,255,.1);
    width: 38px;
}
